<div id="contentView" class="mine-view">
	<div class="back-box">
		<span class="back-img"></span>
		<h2>玩家帮助</h2>
		<span></span>
	</div>
	<div id="answerList">
		<section style="display:none;">
			<div class="question-info">
				<h2>Q：如何开始玩？如何获取娃娃币？</h2>
				<p>A：挑选一个您心仪的娃娃，进入房间。在机器空闲的情况下就可以点击下部黄色按钮，消耗相应数量的娃娃币，就能抓取娃娃了。前后左右按键可以调整爪子位置，还可以通过观察爪子正下方激光的位置使下抓更精准，还得注意倒计时！目前娃娃币可以通过充值或者每日签到获得。未来还会有更多获取娃娃币的途径，请多多关注！</p>
			</div>
		</section>
		<section style="display:none;">
			<div class="question-info">
				<h2>Q：我抓到娃娃为什么显示没抓到？</h2>
				<p>A：如果您抓到娃娃却没能显示成功，可以点击联系客服详细描述您遇到的问题，并提交您的出现问题房间名称和出现问题时间，我们会在核实后帮您处理。</p>
			</div>
		</section>
		<section style="display:none;">
			<div class="question-info">
				<h2>Q：房间出现问题怎么办？投币后爪子不动怎么办？</h2>
				<p>A：如果某个房间出现问题（包括爪子不动/画面过曝/黑屏/房间内容物与图片名称不一致OR出现其他BUG等），请换房间进行抓取。如果由于房间出现问题导致您损失了游戏币，请点击联系客服提交您出现问题房间名称和出现问题时间，我们会在核实后给您补偿游戏币。游戏中遇见的任何BUG都可以在投诉建议中向我们反馈，反馈时请说明您使用设备的品牌和型号。同时请避免利用bug抓取娃娃或者获取娃娃币等行为，以免帐号被封禁。</p>
			</div>
		</section>
		<section style="display:none;">
			<div class="question-info">
				<h2>Q：我一次抓到两只娃娃怎么办？</h2>
				<p>A：一次抓到多只娃娃的情况，只会有一只娃娃被记录哦。</p>
			</div>
		</section>
		<section style="display:none;">
			<div class="question-info">
				<h2>Q：我已经留言了，客服什么时候能回复？</h2>
				<p>A：疯狂抓娃娃的客服并不是实时在线回复的，每个工作日我们都会安排时间统一查看大家的留言统一回复，请大家稍安勿躁。同时请大家减少类似于“在吗”“？？”这种无意义的发言，描述问题时请直奔主题，这样才能更快地解决问题哦。</p>
			</div>
		</section>
		<section style="display:none;">
			<div class="question-info">
				<h2>Q：我怎么签不了到？昨天没签到可以补签吗？</h2>
				<p>A：签到页面是每天首次进入游戏时自动弹出的。如果您没有弹出签到页面，请退出游戏后重新尝试进入游戏。目前没有补签的功能。</p>
			</div>
		</section>
		<section style="display:none;">
			<div class="question-info">
				<h2>Q：已经扣费但充值失败怎么办？</h2>
				<p>A：请点击联系客服，发送您的充值时间和充值失败金额，我们会在核实后帮您处理。</p>
		</section>
		<section style="display:none;">
			<div class="question-info">
				<h2>Q：代币是干嘛的，金币又是干嘛的？</h2>
				<p>A：代币是系统赠送的游戏币，金币是玩家充值获得的游戏币。代币可以用于抓取娃娃，金币可以用于抓取娃娃和支付运费。</p>
			</div>
		</section>
		<section style="display:none;">
			<div class="question-info">
				<h2>Q：抓到娃娃如何申请发货？要抓到几只娃娃才能下单？</h2>
				<p>A：点击首页右下角小书包，选择需要下单的娃娃（注意：一次只可选择2~5个娃娃），正确填写您的收货地址和电话生成订单，支付运费后完成下单。</p>
			</div>
		</section>
		<section style="display:none;">
			<div class="question-info">
				<h2>Q：下单后多久发货？</h2>
				<p>A：一般情况下1-3个工作日之内发货，不排除发货量大、缺货或其他不可抗因素导致的延迟发货。请您不要着急，耐心等待。</p>
			</div>
		</section>
		<section style="display:none;">
			<div class="question-info">
				<h2>Q：你们发什么快递，运费是多少？几个娃娃包邮？</h2>
				<p>A：我们所有的娃娃都发申通快递，运费是按照不同地区分别计算的。同时我们目前并没有实行包邮政策，所以无论抓到几个我们都是不包邮的，请注意。</p>
			</div>
		</section>
		<section style="display:none;">
			<div class="question-info">
				<h2>Q：抓到的娃娃有寄存期限吗？抓到的娃娃可以兑换成娃娃币吗？</h2>
				<p>A：目前版本抓取的娃娃没有寄存期限，娃娃将会保留很长时间，但并不排除未来版本添加寄存时间限制的可能。抓到的娃娃也是不能兑换娃娃币的哦。</p>
			</div>
		</section>
		<section style="display:none;">
			<div class="question-info">
				<h2>Q：可以挑选娃娃颜色吗？</h2>
				<p>A：抓取的娃娃颜色是随机发货的，无法挑选颜色。</p>
			</div>
		</section>
		<section style="display:none;">
			<div class="question-info">
				<h2>Q：我下单时收件地址/电话填错了怎么办？</h2>
				<p>A：如果发现地址填错请第一时间向客服反馈！点击联系客服，说明需要修改地址之后，提供您的订单号和修改后地址。由于地址填错而导致娃娃无法配送甚至快递被退回，玩家自行承担损失，请您仔细核对您的收件信息再下单！</p>
			</div>
		</section>
		</div>
	</div>
	<div class="nav-bottom">
		<a class="service-link" id="service_link" href="javascript:void(0);">
			<i></i>联系客服</a>
	</div>