<div id="contentView" class="mine-view">
	<div class="back-box">
		<span class="back-img"></span>
		<h2>玩家帮助</h2>
		<span></span>
	</div>
	<section>
		<!-- <div class="question-input"><input type="text" placeholder="搜索你想查询的内容"><i></i></div> -->
		<div class="question-boxs">
			<a href="javascript:void(0);"><p>如何开始玩？如何获取娃娃币？</p><i></i></a>
			<a href="javascript:void(0);"><p>我抓到娃娃为什么显示没抓到？</p><i></i></a>
			<a href="javascript:void(0);"><p>房间出现问题怎么办？投币后爪子不动怎么办？</p><i></i></a>
			<a href="javascript:void(0);"><p>我一次抓到两只娃娃怎么办？</p><i></i></a>
			<a href="javascript:void(0);"><p>我已经留言了，客服什么时候能回复？</p><i></i></a>
			<a href="javascript:void(0);"><p>我怎么签不了到？昨天没签到可以补签吗？</p><i></i></a>
			<a href="javascript:void(0);"><p>已经扣费但充值失败怎么办？</p><i></i></a>
			<a href="javascript:void(0);"><p>代币是干嘛的，金币又是干嘛的？</p><i></i></a>
			<a href="javascript:void(0);"><p>抓到娃娃如何申请发货？要抓到几只娃娃才能下单？</p><i></i></a>
			<a href="javascript:void(0);"><p>下单后多久发货？</p><i></i></a>
			<a href="javascript:void(0);"><p>你们发什么快递，运费是多少？几个娃娃包邮？</p><i></i></a>
			<a href="javascript:void(0);"><p>抓到的娃娃有寄存期限吗？抓到的娃娃可以兑换成娃娃币吗？</p><i></i></a>
			<a href="javascript:void(0);"><p>可以挑选娃娃颜色吗？</p><i></i></a>
			<a href="javascript:void(0);"><p>我下单时收件地址/电话填错了怎么办？</p><i></i></a>
		</div>
	</section>
	<div class="blank-bottom"></div>
</div>
<div class="nav-bottom">
	<a class="service-link" id="service_link" href="javascript:void(0);"><i></i>联系客服</a>
</div>