<div id="contentView" class="mine-view" style="background:#ff595f;">
	<div class="back-box">
		<span class="back-img"></span>
		<h2>填写邀请码</h2>
		<span></span>
    </div>
    <section class="invitationCode_box sendbefore">
        <div>
            <p>填写好友分享给你的邀请码</p>
            <input id="sendCode" type="text" placeholder="输入邀请码">
            <a class="sendFor" href="javascript:void(0);">提交</a>
        </div>
    </section>
    <section class="invitationCode_box sendafter" style="display:none;">
        <div>
            <p>亲，您的奖励到了，<br/>您也可以去邀请好友拿大奖哦</p>
            <div class="coin_box"><i></i><span></span></div>
            <a href="javascript:void(0);">我也要拿大奖</a>
        </div>
    </section>
</div>