<div id="contentView" class="mine-view" style="height:100%;background:#ff595f;">
    <div class="back-box" style="background:none;position:relative;z-index:1;">
        <span class="back-img"></span>
        <h2></h2>
        <span></span>
    </div>
    <section class="inviteFriends_box">
        <div class="inviteFriends_title"></div>
        <p>手机抓娃娃，随时随地想抓就抓！</p>
        <div class="inviteFriends_bottom">
            <div class="inviteFriends_img"></div>
            <div class="inviteFriends_content">
                <p>每邀请一位好友并输入您的邀请码，您和被邀请的人都将获得300代币奖励，最多可获得30000代币。</p>
                <h4>我的邀请码-<span>点击复制</span></h4>
                <span class="code_box"></span>
                <div class="inviteList">
                    <ul>
                        <li><img src="/public/img/wechat.png" alt=""><p>微信好友</p></li>
                        <li><img src="/public/img/friends.png" alt=""><p>朋友圈</p></li>
                        <li><img src="/public/img/QQ.png" alt=""><p>QQ</p></li>
                    </ul>
                </div>
            </div>
            <a href="javascript:void(0);">取消</a>
        </div>
    </section>
</div>