<div id="contentView" class="mine-view">
	<div class="back-box">
		<span class="back-img"></span>
		<h2>订单管理</h2>
		<span></span>
	</div>
	<section class="user-order">
		<div class="order-nav-box">
			<ul class="order-nav">
				<li><a class="order_0 on" href="javascript:void(0);">全部</a></li>
				<li><a class="order_1" href="javascript:void(0);">待付款</a></li>
				<li><a class="order_2" href="javascript:void(0);">待发货</a></li>
				<li><a class="order_3" href="javascript:void(0);">待收货</a></li>
			</ul>
		</div>
		<!-- <div class="order-nav-blank"></div> -->
        <div id="orderlist-all"></div>
        <div class="blank-bottom"></div>
    </section>
</div>