<div id="contentView" class="mine-view">
	<div class="back-box">
		<span class="back-img"></span>
		<h2>公告</h2>
		<span></span>
	</div>
	<div class="main-box">
		<div class="notice-box">         
			<div class="notice-wind">
				<h3>给抓友大大的一封信</h3>
				<p>各位抓友大大：</p>
				<p style="text-indent:2em;">春节将至，受快递停运影响，爪爪很抱歉的通知您，我们将于<em>1月26日~2月25日</em>期间暂停发货，2月26日恢复发货。</p>
				<p style="text-indent:2em;"><em>1月26日至2月25日</em>期间，所有申请发货的订单，我们将按照申请的先后顺序依次发货，请各位大大耐心等待哟~
				   </p>
			   <p style="text-indent:2em;">祝各位大大新春愉快！</p>
			   <p style="text-align:right;">爪爪敬上</p>
			</div>
		</div>
   </div>
</div>
