<div id="contentView" class="mine-view">
	<div class="back-box">
		<span class="back-img"></span>
		<h2>抓取记录</h2>
		<span></span>
	</div>
	<section>
		<ul class="game-record" id="game-record">
			<!-- <?php
			if($records){
				foreach($records as $cv){
			?>
				<li>
					<img src="<?=$cv['url'];?>"/>
					<div class="info"><h3><?=$cv['name'];?></h3><time><?php echo date("Y/m/d H:i:s", substr($cv['createTime'], 0, -3));?></time></div>
					<?php if($cv['data']=='true'){?> <span class="game-result result-win">成功</span><?php }else{ ?><span class="game-result result-fail">失败</span><?php } ?>
				</li>
			<?php
			}
			}else{
				echo '<li>未消费!</li>';
			}
			?>
			<li>未消费!</li>
				<li>
					<img src="images/2.jpg"/>
					<div class="info"><h3>蝴蝶结美乐蒂</h3><time>2017/10/23 14:33:33</time></div>
					<span class="game-result result-win">成功</span>
				</li>-->
		</ul>
		<!-- <div class="blank-bottom"></div> -->
	</section>
</div>