<section id="contentView" class="mine-view">
    <div class="back-box">
        <span class="back-img"></span>
        <h2>设置</h2>
        <span></span>
    </div>
    <ul class="set-wrap">
        <li class="line-height"></li>
        <li class="normal-list">
            <!-- <a href="/User/coin">我的娃娃币</a> -->
            <a href="javascript:void(0);" id="goWawaGold">我的娃娃币</a>
            <i class="arr"></i>
        </li>
        <li class="normal-list">
            <a href="javascript:void(0);" id="gowawarecord">我的抓取记录</a>
            <i class="arr"></i>
        </li>
        <li class="line-height"></li>
        <li class="normal-list">
            <a href="javascript:void(0);" id="goorder">订单管理</a>
            <i class="arr"></i>
        </li>
        <li class="normal-list">
            <a href="javascript:void(0);" id="userTask">任务中心</a>
            <i class="arr"></i>
        </li>
        <li class="line-height"></li>
        <li class="normal-list">
            <h3>背景音乐</h3>
            <i id="setBackgroundMusic" class="switch switch-open"></i>
        </li>
        <li class="normal-list">
            <h3>音效</h3>
            <i id="setBackgroundSound" class="switch switch-open"></i>
        </li>
        <li class="line-height"></li>
        <li class="normal-list">
            <a href="javascript:void(0);" id="inviteFriends">邀请好友（有奖）</a>
            <i class="arr"></i>
        </li>
        <li class="normal-list">
            <a href="javascript:void(0);" id="invitationCode">输入邀请码</a>
            <i class="arr"></i>
        </li>
        <li class="line-height"></li>        
        <li class="normal-list">
            <a href="javascript:void(0);" id="playerhelp">玩家帮助</a>
            <i class="arr"></i>
        </li>
        <li class="normal-list">
            <a href="javascript:void(0);" id="complainBtn">投诉建议</a>
            <i class="arr"></i>
        </li>
    </ul>
</section>