<section id="contentView" class="mine-view" style="background:#ffee74;">
	<div class="back-box">
		<span class="back-img"></span>
		<h2>任务</h2>
		<span></span>
	</div>
	<div class="task_box">
		<h3>主线任务</h3>
		<div class="main_task">
			<ul id="main_task">
				<li>
					<i>
						<img src="/public/img/task.png" alt="">
					</i>
					<div>
						<h2>首次游戏</h2>
						<p>
							<i>
								<img src="/public/img/gold.png" alt="">
							</i>
							<span>娃娃币·10</span>
						</p>
					</div>
					<a class="task_link" href="javascript:void(0);"></a>
				</li>
			</ul>
		</div>
		<h3>每日任务</h3>
		<div class="daily_task">
			<ul id="daily_task">
				<li>
					<i>
						<img src="/public/img/task.png" alt="">
					</i>
					<div>
						<h2>首次游戏</h2>
						<p>
							<i>
								<img src="/public/img/gold.png" alt="">
							</i>
							<span>娃娃币·10</span>
						</p>
					</div>
					<a class="task_link" href="javascript:void(0);"></a>
				</li>
			</ul>
		</div>
		<p class="task_bottom">已经到最后啦</p>
	</div>
</section>